[submodule "ezp"]
	path = ezp
	url = https://github.com/ezsystems/ezpublish.git
[submodule "extension/ezjscore"]
	path = extension/ezjscore
	url = https://github.com/ezsystems/ezjscore.git
[submodule "extension/ezautosave"]
	path = extension/ezautosave
	url = https://github.com/ezsystems/ezautosave.git
